<a href="https://colab.research.google.com/github/daredevil-sk/Digital-Financial-Literacy-Agent-SK/blob/main/notebooks/01_baseline_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
#hi how are you

In [26]:
!git clone https://github.com/3Techies/Bias-Detection-ML-models.git

fatal: destination path 'Bias-Detection-ML-models' already exists and is not an empty directory.

In [27]:
%cd Bias-Detection-ML-models/notebooks

/content/Bias-Detection-ML-models/notebooks/Bias-Detection-ML-models/notebooks

In [28]:
import sys
import os

print("CWD:", os.getcwd())

sys.path.append(os.path.abspath(".."))

print("Files in root:", os.listdir(".."))

import config
print("SUCCESS: config imported")

CWD: /content/Bias-Detection-ML-models/notebooks/Bias-Detection-ML-models/notebooks
Files in root: ['data', '.git', 'README.md', 'New Text Document.txt', 'LICENSE', 'notebooks', 'config.py', 'results', 'how-to-use-git.md', '.gitignore']
SUCCESS: config imported

In [29]:
import pandas as pd
%cd ..
print(config.DATA_PATH)

/content/Bias-Detection-ML-models/notebooks/Bias-Detection-ML-models
data/loan_data.csv

In [30]:
df = pd.read_csv(config.DATA_PATH)
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1